*{
    padding: 0;
    margin: 0;
}

@mixin menu-parameters-before-after {
	position:absolute;
	display:block;
	content:" ";
	width: 100%;
	box-sizing: border-box;
	transition: 0.2s;
}

@mixin parameters-hamburguesa{
top:50%;
height:2px;
border-bottom: 0px;
}

//--------
//Mobile
//--------

.header{
    .header-container{
        .logo-container{
            .logo{

            }
        }
        .menu{
            .menu-option{
                
            }

            .menu-option-see-more{

            }
        }
    }
}

.section-search{
    .section-search-container{
        .paragraph-container{
            .paragraph{

                .strong-paragraph{
                    color:#50E3C2;
                }
                font-family: 'Montserrat', sans-serif;
                font-size: 25px;
                color: #572EE5;
                text-align: center;
                line-height: 33px;

            }
        }

.image-ilustra-container{
    .image-ilustra{

        }
    }

    .input-search-container{
        display: flex;
        justify-content: center;
        .input-search{
            font-family: 'Montserrat', sans-serif;
            background: #FFFFFF;
            border: 1px solid #572EE5;
            border-radius: 27px;
            height: 55px;
            width: 334px;


        }
     }

    .trending-container{
        .title-trending{
            margin-top: 31px;
            font-family: 'Montserrat';
            font-size: 16px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;
        }

        .paragraph-trending{
            margin-bottom: 45px;
            font-family: 'Montserrat';
            font-size: 14px;
            color: #572EE5;
            text-align: center;
            line-height: 25px;

            }

        }     
    }
}

.section-trending-gifos{
    background: #F3F5F8;
    .trending-gifos-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title-gifos-container{
            .title-gifos{
                text-align: center;
                font-family: 'Montserrat';
                font-size: 20px;
                color: #572EE5;
                line-height: 30px;
            }
            .description-gifos{
                font-family: 'Roboto';
                margin-bottom: 32px;
                font-size: 16px;
                color: #000000;
                text-align: center;
                line-height: 23px;
            }
        }

        .carousel{
            .carousel-button{

            }

            .carousel-image-container{
                .carousel-image{
                    width: 243px;
                    height: 187px;

                }

            }
        }
    }
}

.footer{
    .footer-container{
        .text-share{
            margin-top: 50px;
            margin-bottom: 24px;
            text-align: center;
            font-family: 'Roboto';
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;

        }
        .icons-social-network-container{
            display: flex;
            justify-content: space-evenly;
            opacity: 20%;
        
        }
        .copyright-container{
            display: flex;
            justify-content: center;
            .copyright{
                margin-top: 50px;
                font-family: 'Roboto';
                font-size: 14px;
                color: #000000;
                letter-spacing: 0;
                line-height: 20px;

            }
        }
    }
}